.topLevelWrapper {
	display: grid;
	/**
	Enables animation to height auto!!!
	Has middling browser support so need to use progressive enhancement. */
	interpolate-size: allow-keywords;
	/* gap: 1em; */
}

/** need double classes to override storybook specificity */
.sbHeading.sbHeading h2 {
	border: none;
	font-size: 0.8rem;
	font-weight: 700;
	letter-spacing: 0.35em;
	text-transform: uppercase;
	color: var(--sb-color-text-secondary, #5c6870);
	padding: 0;
	margin-bottom: 0.7rem;
}

.pathData.pathData {
	margin: 0;
	display: grid;
	gap: 1em;
}
