.topLevelWrapper {
	display: grid;
	/**
	Enables animation to height auto!!!
	Has middling browser support so need to use progressive enhancement. */
	interpolate-size: allow-keywords;
	/* gap: 1em; */
}

.pathData.pathData {
	margin: 0;
	display: grid;
	gap: 1em;
}
