.CardListingOrganism {
	grid-template-columns: repeat(3, minmax(0, 1fr));

	@container (width < 800px) {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}

	@container (width > 1400px) {
		grid-template-columns: repeat(6, minmax(0, 1fr));
	}
}
